.flex {
    display: flex;
}

.details-container {
 gap: 20px;
}

.image-container {
    flex-flow: column;
}

.company-details {
    flex-flow: column;
}

.statement-data {
    display: grid;
    grid-template-columns: auto auto;
}