.carousel-caption {
  font-size: 0.5rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}

@media screen and (min-width: 600px) {
  .carousel-caption {
    bottom: 5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .carousel-caption {
    bottom: 10rem;
    font-size: 1rem;
  }
}
